body {
    background: linear-gradient(124deg, #75af7e, #93cbce, #746c8b,  #88be91, #7edadf, #9febab);
    background-size: 1700px 1800%;
    animation: rainbow 18s ease infinite;
    text-align: center;
    padding: 0 25px;
    font-family: 'roboto', sans-serif;
}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


#main {
    width: 600px;
    margin: auto;
    text-align: left;
    background: rgba(119, 116, 121, 0.4);
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 1px 2px 2px 2px;
    color: white;
    letter-spacing: 0.10em;
    border-radius: 10px;
}

#chats {
    width: 600px;
    margin: auto;
    text-align: left;
    background: rgba(119, 116, 121, 0.4);
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 1px 2px 2px 2px;
    color: rgb(49, 47, 47);
    font-size: 15px;
    border-radius: 10px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    margin-left: -40px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 35px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding-top: 10px;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 7px;
    width: 70%;
    font-size: 15px;
    padding: 5px;
    outline: none;
}

.chat {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #ddd
}

.text {
    margin: 5px auto;
    width: 90%;
    font-size: 15px;
    padding: 12px;
    background-color: rgba(238, 238, 238, 0.7);
    border-radius: 10px;
}

.chat .username {
    margin: 3px 14px;
    font-weight: 800;
}

.chat:hover {
    background-color: rgba(246, 249, 192, 0.8);
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

span {
    font-size: 15px;
    letter-spacing: 0.05em;
}

.addroom, #refresh {
    margin-top: 4px;
    margin-left: 10px;
    padding: 6px;
    border: 1px solid white;
    background-color: rgba(43, 114, 177, 0.8);
    color: white;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-size: 11px;
    outline: none;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .submit {
    margin-top: 3px;
    margin-left: 10px;
    padding: 6px;
    border: 1px solid white;
    background-color: rgb(211, 111, 5);
    color: white;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-size: 11px;
    outline: none;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .addroom:hover, #refresh:hover, .submit:hover {
    margin-top: 4px;
    margin-left: 10px;
    border: 1px solid white;
    background-color: rgb(145, 62, 228);
    color: white;
    text-decoration: none;
  }

  select {
    margin-top: 4px;
    padding: 6px;
    border: 1px solid white;
    background-color: rgb(247, 239, 224);
    color: rgb(58, 58, 58);
    text-decoration: none;
    font-weight: bolder;
    font-size: 13px;
    outline: none;

  }

  ul {
    font-size: 16px;
    margin: 0px;
    letter-spacing: 0.1em;
  }

  .friends-list {
    display: block;
    margin: 2px 0px 4px 0px;
    padding: 0.1em;
    font-size: 15px;
    font-weight: lighter;
  }